<!DOCTYPE html>
<html>
    <head>
        <title>Kevin's Website</title>
        <html lang="en">
        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheet/main.css">
        <link rel="stylesheet" href="/stylesheet/backgroundimage.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fontawesome -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- [/] jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- googleFont --> 
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <!-- Boostrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
<!-- navbar -->    
<header class="backgroundimage">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="#about">Skills</a></li>
            <li><a href="#timeline">Timeline</a></li>
            <li><a href="#scrollLife">Life</a></li>
          </ul>
        </div>
      </div>
    </nav>
<!-- first section --> 
<div id="center" class="container">
    <img id="self" src="http://www.kwokwaiwong.com/images/self.jpg"></img>
    <h3 class="paddingh3">HELLO</h3>
    <h1 class="paddingh1">my name is<span id="custom"> KEVIN,</span></h1>
    <p class="header3">I'm a UI/UX designer born in istanbul.</p>
    <div class="content">
            <nav id="menu">
              <ul>
                <li id="inline"><a href="https://www.linkedin.com/in/kevin-kwok-wai-wong-94635560"><i class="fa fa-linkedin-square fa-4x icon" aria-hidden="true"></i></a></li>
                <li id="inline"><a href="https://github.com/kkwokwai22"><i class="fa fa-github fa-4x icon" aria-hidden="true"></i></a></li>
                <li id="inline"><a href="https://www.facebook.com/kevin.wongkwokwai"><i class="fa fa-facebook fa-4x icon" aria-hidden="true"></i></a></li>
              </ul>
            </nav>
          </div>
    <ul class="container details">
        <li>Age: 28</li>
        <li>Country: United State</li>    
        <li>Working at: San Francisco, CA</li>
    </ul>
</div>
</header>
    <section id="about" class="aboutsection">
        <div class="container about">
            <div class="row">
                <div>
                    <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                </div> 
                <div>About</div>
                <hr>
                <p class="aboutP">Do you want to know more?</p>
            </div>
        </div>
        <div class="row">
              <div class="col-md-6">
                  <div class="center6 customPadding">
                    <h4>Who AM I</h4>
                    <p>Hello, my name is Emrah, I'm a UI/UX designer born in istanbul. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In accumsan elementum nunc.</p>
                    <p>Sed nec elit urna. Nam porttitor elit nec sapien cursus, non feugiat mi tempus. Sed pellentesque nisi a magna gravida, vel aliquet arcu imperdiet.</p>
                    <p>Cras vehicula libero eget turpis accumsan, non blandit felis tincidunt. Etiam non suscipit lectus. Cras et libero a libero lacinia semper et ac tortor. Nullam venenatis Dribbble nec imperdiet. Nulla tincidunt mauris Behance vestibulum, non hendrerit lacus condimentum.</p>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="center6">
                    <h4>My Skills</h4>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                      aria-valuemin="0" aria-valuemax="100" style="width:40%">
                      40% Complete (success)
                    </div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        50% Complete (info)
                      </div>
                    </div>
                    
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                      aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        60% Complete (warning)
                      </div>
                    </div>
                    
                    <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70% Complete (danger)
                      </div>
                    </div>
                    <!-- Second Skill bar -->
                    <h4>My Skills</h4>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                      aria-valuemin="0" aria-valuemax="100" style="width:40%">
                      40% Complete (success)
                    </div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        50% Complete (info)
                      </div>
                    </div>
                    
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                      aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        60% Complete (warning)
                      </div>
                    </div>
                    
                    <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70% Complete (danger)
                      </div>
                    </div>
                      </div>
                  </div>
        </div>
    </section>
    <!-- section on experience ---> 
    <section class="aboutsection2">
      <div class="container about">
      <div class="container">
  <div class="page-header">
    <h1 id="timeline" class="heading">Timeline</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Mussum ipsum cacilds</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Mussum ipsum cacilds</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
          <p>Suco de cevadiss.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Mussum ipsum cacilds</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Mussum ipsum cacilds</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Mussum ipsum cacilds</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
          <hr>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Mussum ipsum cacilds</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Mussum ipsum cacilds</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
        </div>
      </div>
    </li>
  </ul>
</div>

    </section>
    <!--- section on self ----> 
    <section class="aboutsection3">
      <div class="container about">
            <div class="row">
                <div>
                    <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                </div> 
                <div id="scrollLife">My Life</div>
                <hr>
                <p class="life">Pics of me going to Vietnam for mission trip, vacation with cousins, working with kids, and my hobbies</p>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img class="img-responsive" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/14795_10201055743049516_1475734532_n.jpg?oh=8f6a9c7124cdc1a18b7169c6c5efc87d&oe=586A36CA"> 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img class="img-responsive" src="https://scontent-sjc2-1.xx.fbcdn.net/t31.0-8/10847374_10204579246533961_1433362760081242664_o.jpg"> 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img class="img-responsive" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/10401978_10152454282777569_8210079787524184708_n.jpg?oh=a790e9b2a0eb238d498b513acbcba4dc&oe=5870B1AE"> 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img class="img-responsive" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-0/q82/p206x206/10565016_10152303612088513_1741090778673807319_n.jpg?oh=65851942688be002455abef270112bce&oe=586A4407"> 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img class="img-responsive" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/10547517_10154410600590013_6513303235105944921_n.jpg?oh=51cad8ac2501e57d6b38c02606b70b0b&oe=588234B8"> 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img class="img-responsive" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t35.0-12/10473224_813517541994600_1765524248_o.jpg?oh=1d363294a0da4df0da89bc6fe56afcbe&oe=57EE7F61"> 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img class="img-responsive" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-0/p206x206/1004058_599745816712413_1599417575_n.jpg?oh=dfa5c7292745dbe16fc4b404933f3458&oe=58720F92"> 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img class="img-responsive" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/406256_4293989436998_1221402326_n.jpg?oh=581b1b4d8731ac9f4134c737ca2812c0&oe=5880ED54"> 
              </div>
            </div>
        </div>
    </section>
</body>
<% include ./partials/footer %>
